.cursorignore
.cursor/
.next
node_modules

out

*.DS_Store
.env.local
api-testing/api-testing.ipynb
api-testing/latest_bills.csv
failed_bills_summaries_2025-02-23T04-51-22-121Z.json
failed_bills_titles_2025-02-28T15-19-50-104Z.json
images-of-representatives.json
