# Dependencies
node_modules

# Next.js
.next
out

# Environment
.env.local
.env*.local

# IDE
.cursorignore
.cursor/

# OS
*.DS_Store

# Old data files
api-testing/
failed_bills_*.json
images-of-representatives.json

# Misc
/extra-files-for-future
